# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pickle / model files (optional but recommended for large files)
*.pkl
*.h5
*.sqlite3

# If you don't want to upload vector DB
chroma_db/

# Build folders
build/
dist/